.image-preview {
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  height: 130px;
  border-radius: 80%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #ccc;
}
