<div class="container">
  <div class="row mt-3">
    <div class="col-3">
      <span class="h5">Seções aparentes</span>
      <div>
        <mat-slide-toggle [(ngModel)]="page.sobre" class="d-block mt-2">Sobre</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="onPalestrantes" class="d-block mt-2">Palestrantes</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="onProgramacao" class="d-block mt-2">Programação</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="page.local" class="d-block mt-2">Local</mat-slide-toggle>
      </div>
    </div>
    <div class="col-9">
      <span class="h5">Conteúdo da página</span>
      <div class="mt-3">
        <mat-card class="mb-3 capa">
          <mat-card-title class="m-3">Capa</mat-card-title>
          <mat-card-content>
            <mat-form-field class="col-12" appearance="outline">
              <mat-label>Titulo do evento</mat-label>
              <input matInput [(ngModel)]="page.titulo">
            </mat-form-field>

            <span class="d-block h6">Imagem da capa</span>
            <img [src]="page.preview" class="capa-preview d-block" alt="Imagem da capa">
            <input class="d-block" type="file" (change)="onFileCapa($event); previewCapa($event)">
          </mat-card-content>
        </mat-card>

        <ng-container *ngIf="page.sobre" class="sobre">
          <mat-card class="mb-3">
            <mat-card-title class="m-3">Sobre</mat-card-title>
            <mat-card-content>
              <span class="d-block h6">Cor de fundo: <input type="color" [(ngModel)]="page.background"></span>
              <quill-editor  [(ngModel)]="page.descricao" [style.background]="page.background"></quill-editor>
            </mat-card-content>
          </mat-card>
        </ng-container>

        <ng-container *ngIf="onPalestrantes" class="Palestrantes">
          <app-palestrantes></app-palestrantes>
        </ng-container>

        <ng-container *ngIf="onProgramacao" class="Programação">
          <mat-card class="mb-3">
            <mat-card-title class="m-3">Programação</mat-card-title>
            <mat-card-content class="mb-3">
              <div class="row section">
                <div class="row sub-section">
                  <mat-form-field class="col-md-6" appearance="outline">
                    <mat-label>Data</mat-label>
                    <input matInput [matDatepicker]="data" [min]="minDate" >
                    <mat-datepicker-toggle matIconSuffix [for]="data"></mat-datepicker-toggle>
                    <mat-datepicker #data>
                      <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancelar</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Confirmar</button>
                      </mat-datepicker-actions>
                    </mat-datepicker>
                  </mat-form-field>

                  <div class="col-md-6 d-flex justify-content-between">
                    <button mat-raised-button color="primary">
                      Nova Atividade
                    </button>
                    <button mat-mini-fab color="warn">
                      <mat-icon>delete_forever</mat-icon>
                    </button>
                  </div>

                  <div class="row mb-3 ps-5 task-sub-section">
                    <div class="col-10">
                      <div class="row">
                        <mat-form-field class="col-md-6" appearance="outline">
                          <mat-label>Horário Inicial</mat-label>
                          <input matInput>
                        </mat-form-field>

                        <mat-form-field class="col-md-6" appearance="outline">
                          <mat-label>Horário Final</mat-label>
                          <input matInput>
                        </mat-form-field>

                        <mat-form-field class="col-md-12" appearance="outline">
                          <mat-label>Atividade</mat-label>
                          <input matInput>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-2 d-flex align-items-center">
                      <button mat-icon-button color="primary">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                    <mat-divider></mat-divider>
                  </div>
                </div>
              </div>
              <mat-divider></mat-divider>
            </mat-card-content>

            <mat-card-actions class="justify-content-center">
              <button mat-mini-fab color="primary">
                <mat-icon>add</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </ng-container>

        <ng-container *ngIf="page.local" class="Local">
          <mat-card class="mb-3">
            <mat-card-title class="m-3">Local</mat-card-title>
            <mat-card-content>
              <div class="row">
                <mat-form-field class="col-md-4" appearance="outline">
                  <mat-label>CEP</mat-label>
                  <input matInput>
                </mat-form-field>

                <mat-form-field class="col-md-2" appearance="outline">
                  <mat-label>UF</mat-label>
                  <input matInput>
                </mat-form-field>

                <mat-form-field class="col-md-4" appearance="outline">
                  <mat-label>Cidade</mat-label>
                  <input matInput>
                </mat-form-field>

                <mat-form-field class="col-md-4" appearance="outline">
                  <mat-label>Bairro</mat-label>
                  <input matInput>
                </mat-form-field>


                <mat-form-field class="col-md-6" appearance="outline">
                  <mat-label>Endereço</mat-label>
                  <input matInput>
                </mat-form-field>


                <mat-form-field class="col-md-2" appearance="outline">
                  <mat-label>Nº</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </div>
      <div class="row m-2">
        <div class="d-flex justify-content-end">
          <button mat-raised-button color="primary" (click)="onConsole()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>
