<div class="container">
  <div class="row pt-3">
    <div class="col-md-3" style="position: fixed;">
      <p class="h5">Adicionar Campo</p>
      <p><button mat-button color="primary" (click)="onAdd('short-text')"><mat-icon>short_text</mat-icon>Texto curto</button></p>
      <p><button mat-button color="primary" (click)="onAdd('long-text')"><mat-icon>subject</mat-icon>Texto longo</button></p>
      <p><button mat-button color="primary" (click)="onAdd('list')"><mat-icon>list</mat-icon>Lista</button></p>
      <p><button mat-button color="primary" (click)="onAdd('radio')"><mat-icon>radio_button_checked</mat-icon>Escolha única</button></p>
      <p><button mat-button color="primary" (click)="onAdd('check')"><mat-icon>check_box</mat-icon>Mútipla escolha</button></p>
      <p><button mat-button color="primary" (click)="onAdd('data')"><mat-icon>calendar_today</mat-icon>Data</button></p>
      <p><button mat-button color="primary" (click)="onAdd('number')"><mat-icon>exposure_zero</mat-icon>Número</button></p>
    </div>
    <div class="col-md-9" style="margin-left: 25%;">
      <span class="h5">Campos Obrigatórios</span>
      <p class="subtitle">(Esses campos aparecem em todos os fomulários, sendo obrigatórios ou não)</p>
      <div class="row">
        <span>
          <ul class="m-0 ul">
            <li *ngFor="let input of camposPadrao">
              <mat-checkbox [(ngModel)]="input.required">
                {{ input.ask }}
              </mat-checkbox>
            </li>
          </ul>
        </span>
      </div>
      <div class="row pb-3">
        <p class="h5">Campos Adicionais</p>

        <ng-container *ngFor="let input of camposAdicionais; let inputIndex = index">
          <ng-container *ngIf="input.type === 'short-text'">
            <mat-card class="mt-2 pt-2">
              <mat-card-subtitle class="d-flex justify-content-between">
                <mat-icon>short_text</mat-icon>
                <button mat-icon-button (click)="onDelete(inputIndex)"><mat-icon>delete</mat-icon></button>
              </mat-card-subtitle>
              <input class="custom-input" placeholder="Digite sua pergunta">
              <mat-form-field class="col-8" appearance="outline">
                <input matInput placeholder="Texto de resposta curta" disabled>
              </mat-form-field>
              <mat-card-footer class="col-8 d-flex justify-content-end">
                <mat-checkbox color="warn">Obigatório</mat-checkbox>
              </mat-card-footer>
            </mat-card>
          </ng-container>

          <ng-container *ngIf="input.type === 'long-text'">
            <mat-card class="mt-2 pt-2">
              <mat-card-subtitle class="d-flex justify-content-between">
                <mat-icon>subject</mat-icon>
                <button mat-icon-button (click)="onDelete(inputIndex)"><mat-icon>delete</mat-icon></button>
              </mat-card-subtitle>
              <input class="custom-input" placeholder="Digite sua pergunta">
              <mat-form-field class="col-8" appearance="outline">
                <textarea matInput placeholder="Texto de resposta longa" disabled></textarea>
              </mat-form-field>
              <mat-card-footer class="col-8 d-flex justify-content-end">
                <mat-checkbox color="warn">Obigatório</mat-checkbox>
              </mat-card-footer>
            </mat-card>
          </ng-container>

          <ng-container *ngIf="input.type === 'list'">
            <mat-card class="mt-2 pt-2">
              <mat-card-subtitle class="d-flex justify-content-between">
                <mat-icon>list</mat-icon>
                <button mat-icon-button (click)="onDelete(inputIndex)"><mat-icon>delete</mat-icon></button>
              </mat-card-subtitle>

              <input class="custom-input" placeholder="Digite sua pergunta" [(ngModel)]="input.ask">

              <mat-form-field class="col-8" appearance="outline">
                <mat-label>Opções</mat-label>
                <mat-select>
                  <mat-option *ngFor="let option of input.options" [value]="option">{{ option }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-list>
                <mat-list-item *ngFor="let option of input.options; let i = index">
                  <div class="d-flex align-items-center">
                    <button mat-icon-button (click)="removeSelect(inputIndex, i)"><mat-icon>delete</mat-icon></button>
                    {{ option }}
                  </div>
                </mat-list-item>
                <mat-list-item>
                  <input class="custom-input" placeholder="Digite uma opção" [(ngModel)]="input.onAdd">
                </mat-list-item>
               </mat-list>

              <mat-card-footer class="col-8 d-flex justify-content-between">
                <button mat-button color="accent" (click)="newSelect(inputIndex)"><mat-icon>add</mat-icon>Criar Opção</button>
                <mat-checkbox color="warn">Obigatório</mat-checkbox>
              </mat-card-footer>
            </mat-card>
          </ng-container>

          <ng-container *ngIf="input.type === 'radio'">
            <mat-card class="mt-2 pt-2">
              <mat-card-subtitle class="d-flex justify-content-between">
                <mat-icon>radio_button_checked</mat-icon>
                <button mat-icon-button (click)="onDelete(inputIndex)"><mat-icon>delete</mat-icon></button>
              </mat-card-subtitle>

              <input class="custom-input" placeholder="Digite sua pergunta" [(ngModel)]="input.ask">

              <mat-radio-group class="d-flex flex-column m-1">
                <mat-radio-button *ngFor="let option of input.options; let i = index" [value]="option">
                  <div class="d-flex align-items-center">
                    {{ option }}
                    <button mat-icon-button (click)="removeSelect(inputIndex, i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </mat-radio-button>
              </mat-radio-group>

              <input class="custom-input" placeholder="Digite uma opção" [(ngModel)]="input.onAdd">

              <mat-card-footer class="col-8 d-flex justify-content-between">
                <button mat-button color="accent" (click)="newSelect(inputIndex)"><mat-icon>add</mat-icon>Criar Opção</button>
                <mat-checkbox color="warn">Obigatório</mat-checkbox>
              </mat-card-footer>
            </mat-card>
          </ng-container>

          <ng-container *ngIf="input.type === 'check'">
            <mat-card class="mt-2 pt-2">
              <mat-card-subtitle class="d-flex justify-content-between">
                <mat-icon>check_box</mat-icon>
                <button mat-icon-button (click)="onDelete(inputIndex)"><mat-icon>delete</mat-icon></button>
              </mat-card-subtitle>

              <input class="custom-input" placeholder="Digite sua pergunta" [(ngModel)]="input.ask">

              <section class="d-flex flex-column m-1">
                <mat-checkbox *ngFor="let option of input.options; let i = index" [value]="option">
                  <div class="d-flex align-items-center">
                    {{ option }}
                    <button mat-icon-button (click)="removeSelect(inputIndex, i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                    </div>
                </mat-checkbox>
              </section>

              <input class="custom-input" placeholder="Digite uma opção" [(ngModel)]="input.onAdd">

              <mat-card-footer class="col-8 d-flex justify-content-between">
                <button mat-button color="accent" (click)="newSelect(inputIndex)"><mat-icon>add</mat-icon>Criar Opção</button>
                <mat-checkbox color="warn">Obigatório</mat-checkbox>
              </mat-card-footer>
            </mat-card>
          </ng-container>

          <ng-container *ngIf="input.type === 'data'">
            <mat-card class="mt-2 pt-2">
              <mat-card-subtitle class="d-flex justify-content-between">
                <mat-icon>calendar_today</mat-icon>
                <button mat-icon-button (click)="onDelete(inputIndex)"><mat-icon>delete</mat-icon></button>
              </mat-card-subtitle>
              <input class="custom-input" placeholder="Digite sua pergunta">

              <mat-form-field class="col-8" appearance="outline">
                <mat-label>Data</mat-label>
                <input matInput [matDatepicker]="picker" disabled>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-card-footer class="col-8 d-flex justify-content-end">
                <mat-checkbox color="warn">Obigatório</mat-checkbox>
              </mat-card-footer>
            </mat-card>
          </ng-container>

          <ng-container *ngIf="input.type === 'number'">
            <mat-card class="mt-2 pt-2">
              <mat-card-subtitle class="d-flex justify-content-between">
                <mat-icon>exposure_zero</mat-icon>
                <button mat-icon-button (click)="onDelete(inputIndex)"><mat-icon>delete</mat-icon></button>
              </mat-card-subtitle>
              <input class="custom-input" placeholder="Digite sua pergunta">

              <mat-form-field class="col-4" appearance="outline">
                <mat-label>Número</mat-label>
                <input type="number" matInput disabled>
              </mat-form-field>

              <mat-card-footer class="col-8 d-flex justify-content-end">
                <mat-checkbox color="warn">Obigatório</mat-checkbox>
              </mat-card-footer>
            </mat-card>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
